.App {
  display: flex;
  background-color: black;
  color: chartreuse;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: "Fixedsys", "Courier New", monospace;
}

.top {
  width: 100%;
  padding: 20px;
  z-index: 1;
  input {
    width: 15%;
  }
}

.center {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 25vh;
}

input {
  background-color: black;
  color: chartreuse;
  border: 1px solid chartreuse;
  padding: 10px;
  font-family: "Fixedsys", "Courier New", monospace;
}

button {
  background-color: black;
  color: chartreuse;
  border: 1px solid chartreuse;
  padding: 10px 20px;
  font-family: "Fixedsys", "Courier New", monospace;
  cursor: pointer;
}

secret {
  color: black;
}

@media screen and (max-width: 600px) {
  .top {
    input {
      width: 50%;
    }
  }
}
